<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ cart.name }}</title>
</head>
<body>
    <h2>Cart: {{ cart.name }} <button>edit</button></h2> 
    <span><strong>Created in: {{ cart.created_in }}</strong></span>
    <a href="/">Home</a>
    {% if items_list %}
    <ul>
        {% for item in items_list %}
        <li> 
            <h4>Name: {{ item.name }}</h4>
            <span><strong>Price: </strong>{{ item.value }}$</span>
            <a href="deleteitem/{{ item.id }}">
                <button type="submit">delete</button>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Empty cart</p>
    {% endif %}

    <fieldset>
        <legend>Add a new item</legend>
        <form action="newitem" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ cart.id }}" name="cart_id">
            <input type="text" placeholder="name" name="name" required>
            <input type="number" placeholder="price" name="value" step="0.01" min="0" required>
            <button type="submit">submit</button>
        </form>
    </fieldset>

    <a href="deletecart/{{ cart.id }}"><button>delete cart</button></a>

</body>
</html>